# Local Settings and Data
config.json
applications.db
jalm_config.json
jalm_apps.db

# Build files
build/
dist/
*.spec
CHANGELOG_LOCAL.md
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo
